/* Общие стили */
img {
  display: block;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}

p {
  margin-bottom: 35px;
}

#by-mistake {
  color: #fff;
  font-size: 9px;
}

.personal-data {
  font-size: 12px;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.question-container {
  margin-bottom: 20px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.answer-button:hover,
.answer-button.selected {
  background-color: #0056b3;
}

/* src/App.css */
.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.product-image {
  max-width: 100%;
  height: auto;
}

.portion-weight-container {
  margin-top: 20px;
}

.portion-weight-input {
  width: 100px;
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.submit-button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #218838;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.navigation-buttons #submit-answers {
  font-size: 17px;
  cursor: pointer;
  border: none;
  background-color: #4fab58;
  color: white;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.navigation-buttons #submit-answers:disabled {
  background-color: #8f8686;
  cursor: not-allowed;
}

.navigation-buttons button {
  padding: 8px 12px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.navigation-buttons button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.navigation-buttons button:hover:not(:disabled) {
  background-color: #0056b3;
}

@media (max-width: 600px) {
  .quiz-container {
    padding: 10px;
  }
  
  .answer-button {
    padding: 8px;
  }

  .portion-weight-input {
    width: 100%;
  }
}
