/* Тело и основной контейнер */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #FFE4C4; 
  color: #ffedce;
}

.main-container {
  width: 35%;
  margin: 60px auto;
  background-color: #282741;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Кнопки */
button {
  background-color: #0f569d; /* Темно-синий фон */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transition: 0.5s;
}

button:hover {
  background-color: #004080; /* Синий при наведении */
  transition: 0.5s;
}

.question-number {
  color: #fff;
}

/* Обеспечение хорошего отображения на телефонах */
@media (max-width: 768px) {
  .main-container {
    width: 75%;
  }
}

/* Общие стили */
img {
  display: block;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
}

.centered-text {
  text-align: center;
}

p {
  margin-bottom: 35px;
}

#by-mistake {
  color: #fff;
  font-size: 9px;
}

.personal-data {
  font-size: 12px;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.question-container {
  margin-bottom: 20px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answer-button {
  padding: 10px;
  width: 200px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.answer-button:hover,
.answer-button.selected {
  background-color: #0056b3;
}