.q3-raw-answer {
    margin-top: 15px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 32%;
}

.valid {
    color: rgb(239, 102, 102);
    font-size: 10px;
    margin: 2px 0 0 4px;
    visibility: hidden;
}

.invalid {
    color: rgb(239, 102, 102);
    font-size: 10px;
    margin: 2px 0 0 4px;
}

.err {
    margin-left: 40%;
    margin-top: 10px;
}

#qt3-submit {
    margin-left: 42% !important;
}

.external-link {
    color: white;
    text-align: right;
    margin-bottom: 10px;
    margin-top: 50px;
    font-size: 13px;
}

.external-link a {
    color: #0398fc;
}

.desc {
    color: #fff;
    font-size: 12px;
    margin-left: 8px;
}